<h1>Mario's Specialty Foods</h1>
<p>Your one stop shop for all your favorite foods from all over the world! Check out all our great products!</p>

<h3>Products with Most Reviews</h3>

<% if @most_reviews.any? %>
  <ul>
    <% @most_reviews.each do |most| %>
      <li><%= link_to most.name, product_path(most) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no products yet.</p>
<% end %>



<h3>Three Most Recent Products</h3>

<% if @three_most_recent.any? %>
  <ul>
    <% @three_most_recent.each do |three| %>
      <li><%= link_to three.name, product_path(three) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no products yet.</p>
<% end %>

<h3>American Made Products</h3>

<% if @made_in_the_usa.any? %>
  <ul>
    <% @made_in_the_usa.each do |usa| %>
      <li><%= link_to usa.name, product_path(usa) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no American products yet.</p>
<% end %>

<p><%= link_to "See All Products", products_path %></p>
